<!DOCTYPE html>
<html xmlns:tw="http://www.w3.org/1999/xhtml"
	  xmlns:th="http://www.thymeleaf.org">
<head>
	<meta charset="utf-8" />
	<title>Deals</title>
	<meta name="keywords" content="" />
	<meta name="description" content="" />
	<link href="../static/css/styles.css" th:href="@{/css/styles.css}" rel="stylesheet" />
	<link href="../static/css/bootstrap.min.css" th:href="@{/css/bootstrap.min.css}" rel="stylesheet" />
	<link href="../static/css/jquery.dropdown.css" th:href="@{/css/jquery.dropdown.css}" rel="stylesheet" />
</head>

<body>

<div class="wrapper">
	<!-- .header-->
	<header class="header">
		<span><a href="/"><img th:src="@{/images/logo.png}" width="" height="80"/></a></span>
		<span class="shape"><img th:src="@{/images/shape.png}" width="" height="16"/></span>
		<span class="profile"><a href="#" class="dropdown">Профиль</a></span>
		<span class="add-deal">
		<form th:action="@{/newdeal}" method="get">
			<button class="btn btn-md btn-info btn-block" type="Submit">+ Добавить</button>
		</form></span>
	</header>

	<main class="content">
		<!-- Body Container (Deals)-->

				<!-- Deals Content -->
				<div class="" id="created-deals">
					<!-- Deals filter -->
					<input class="form-control" id="myInput" type="text" placeholder="Search..">
					<button class="btn btn-md btn-info" data-sort="project-name">Sort by Summary</button>
					<button class="btn btn-md btn-info" data-sort="project-title">Sort by Category</button>
					<button class="btn btn-md btn-info" data-sort="project-label">Sort by Price</button>
					<button class="btn btn-md btn-info" id="viewSwitch">Change View</button>
					<!-- Deals list -->
					<div class="panel-group" th:each="currentDeal,iterationStatus: ${deals}">
						<br>
						<div class="panel panel-default" th:id="'panel_'+${iterationStatus.index}">
							<div class="panel-heading" th:text="${currentDeal.getName()}" id="summary"> Summary </div>
							<div class="panel-body" th:text="${currentDeal.getDescription()}" id="description"> Description </div>
							<div class="panel-body" th:text="${currentDeal.getPrice()}"> Price </div>

								<a th:href="@{'/newdeal/'+${currentDeal.getDealid()}}"><i class="glyphicon glyphicon-pencil"></i></a>

								<a th:href="@{'/user/home/delete/'+${currentDeal.getDealid()}}"><i class="glyphicon glyphicon-remove"></i></a>




						</div>
					</div>
				</div>




	</main><!-- .content -->

</div><!-- .wrapper -->

<footer class="footer">
	<strong>2017</strong>
</footer><!-- .footer -->


<script th:src="@{/js/jquery.min.js}"></script>
<script	src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
<script th:src="@{/js/main.js}"></script>
<script th:src="@{/js/jquery.dropdown.min.js}"></script>


</body>
</html>