@import "compass/css3";

// GENERAL STYLES
@import url(//netdna.bootstrapcdn.com/bootstrap/3.0.0/css/bootstrap-glyphicons.css);


@import url(https://fonts.googleapis.com/css?family=Open+Sans:400,300,600);


body {
  font-family: 'Open Sans', sans-serif;
  font-weight: 300;
}

#sandbox {margin: 50px}

// SORT AND FILTER
input {
  border: solid 1px #ccc;
  border-radius: 5px;
  padding: 7px 14px;
  margin-bottom: 10px;
  width: 50%;
  @extend body;

  &:focus {
    outline:none;
    border-color:#aaa;
  }// :focus
}// input

.sort {
  padding: 8px 30px;
  border-radius: 6px;
  border: none;
  display: inline-block;
  color: #fff;
  text-decoration: none;
  background-color: #28a8e0;
  height: 36px;
  float: right;
  margin: 0 5px;
  @extend body;

  &:hover {
    text-decoration: none;
  background-color: #1b8aba;
  }// :hover

  &:focus {
    outline: none;
  }// :focus

  &:after {
    width: 0;
    height: 0;
    border-left: 5px solid transparent;
    border-right: 5px solid transparent;
    border-bottom: 5px solid transparent;
    content:"";
    position: relative;
    top:-10px;
    right:-5px;
  }// :after

  .asc {

    &:after {
      width: 0;
      height: 0;
      border-left: 5px solid transparent;
      border-right: 5px solid transparent;
      border-top: 5px solid #fff;
      content:"";
      position: relative;
      top:13px;
      right:-5px;
    }// :after
  }// asc

  .desc {

    &:after {
      width: 0;
      height: 0;
      border-left: 5px solid transparent;
      border-right: 5px solid transparent;
      border-bottom: 5px solid #fff;
      content:"";
      position: relative;
      top:-10px;
      right:-5px;
    }// :after
  }// .desc
}// .sort

// LIST ITEMS

.list {
  margin: 0;
  padding: 20px 0 0;

    li {
      display: block;
      background-color: #eee;
      padding: 10px;
      box-shadow: inset 0 1px 0 #fff;
      height: 140px;
      margin-bottom: 10px;

      img {
        float: left;
        padding-right: 20px;
      }// img

      h3 {
        font-size: 2em;
        margin: 0 0 0.3rem;
        font-weight: 600;
      }// h3

      .project-title {
        margin: 0;
        font-weight: 400;
        font-size: 1.5em
      }// project-title

      .project-label {
        margin: 0;
        font-style: italic;
      }// .label

      i {
        float: right;
        color: black;
        display: block;

        &:hover {
          color: #3498db;
        }// :hover
      }// i
    }// li
}// .list

// GRID ITEMS

.grid {
  list-style: none;

  img {
    float: left;
    padding-right: 20px;
  }
  li {
    width: 30%;
    display: inline-block;
    background-color: #eee;
    box-shadow: inset 0 1px 0 #fff;
    margin-bottom: 20px;

    &:nth-of-type(3n+2) {
      margin: 0 20px;
    }

    h3 {
      font-size: 2em;
      margin: 0 0 0.3rem;
      font-weight: 600;
    }// h3

    .project-title {
        margin: 0;
        font-weight: 400;
        font-size: 1.5em
      }// project-title

      .project-label {
        margin: 0;
        font-style: italic;

      }// .label

      i {
        float: right;
        margin: 0 10px 0 0;
        color: black;
        display: block;

        &:hover {
          color: #3498db;
        }// :hover
      }// i
  }// li
}// .grid

// Plugins

.jscroll {
  height: 700px;
  overflow-y: scroll;
  border: 1px solid black;
}