<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8" />
    <title>Deal Form</title>
    <link href="../static/css/styles.css" th:href="@{/css/styles.css}" rel="stylesheet" />
    <link href="../static/css/bootstrap.min.css" th:href="@{/css/bootstrap.min.css}" rel="stylesheet" />
    <link href="../static/css/jquery.dropdown.css" th:href="@{/css/jquery.dropdown.css}" rel="stylesheet" />
</head>

<body>

<div class="wrapper">
    <!-- .header-->
    <header class="header">
        <span><a href="/"><img th:src="@{/images/logo.png}" width="" height="80"/></a></span>
        <span class="shape"><img th:src="@{/images/shape.png}" width="" height="16"/></span>
        <span class="profile"><a href="#" class="dropdown">Профиль</a></span>
    </header>


    <main class="content">
        <!-- Create Form-->
        <div class="container">
            <div class="row">
                <div class="col-md-6 col-md-offset-3">
                    <form autocomplete="off" action="#" th:action="@{/user/deals/new}"
                          th:object="${deal}" method="post" class="form-horizontal" role="form">
                        <h2>Create new deal</h2>

                        <div class="form-group">
                            <div class="col-sm-9">

                                <input type="hidden" th:field="*{dealid}" placeholder="Price" class="form-control" />
                            </div>
                        </div>

                        <div class="form-group">
                            <div class="col-sm-9">
                                <label th:if="${#fields.hasErrors('name')}" th:errors="*{name}" class="validation-message"></label>
                                <input type="text" th:field="*{name}" placeholder="Summary" class="form-control" />
                            </div>
                        </div>

                        <div class="form-group">
                            <div class="col-sm-9">
                                <label th:if="${#fields.hasErrors('description')}" th:errors="*{description}" class="validation-message"></label>
                                <input type="text" th:field="*{description}" placeholder="Description" class="form-control" />
                            </div>
                        </div>

                        <div class="form-group">
                            <div class="col-sm-9">
                                <label	th:if="${#fields.hasErrors('price')}" th:errors="*{price}" class="validation-message"></label>
                                <input type="text" th:field="*{price}" placeholder="Price" class="form-control" />
                            </div>
                        </div>

                        <div class="form-group">
                            <div class="col-sm-9">
                            <select class="form-control" id="sel1" th:field="*{cityid}">
                                <option value="">Select city</option>
                                <option th:each="city : ${cities}"
                                        th:value="${city.getId()}"
                                        th:text="${city.getName()}">
                                </option>

                            </select>
                            </div>
                        </div>


                        <!-- Create Button-->
                        <div class="form-group">
                            <div class="col-sm-9">
                                <button type="submit" class="btn btn-primary btn-block">Save</button>
                            </div>
                        </div>
                        <!-- Success  Message-->
                        <span th:utext="${successMessage}"></span>


                    </form>
                </div>
            </div>
        </div>

    </main><!-- .content -->

</div><!-- .wrapper -->

<footer class="footer">
    <strong>2017</strong>
</footer><!-- .footer -->


<script th:src="@{/js/jquery.min.js}"></script>
<script	src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
<script th:src="@{/js/main.js}"></script>
<script th:src="@{/js/jquery.dropdown.min.js}"></script>


</body>
</html>