<!DOCTYPE html>
<html xmlns:tw="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head>
	<meta charset="utf-8" />
	<!--[if lt IE 9]><script src="https://cdnjs.cloudflare.com/ajax/libs/html5shiv/3.7.3/html5shiv.min.js"></script><![endif]-->
	<title>DealsHomePage</title>
	<meta name="keywords" content="" />
	<meta name="description" content="" />
    <link href="../static/css/styles.css" th:href="@{/css/styles.css}" rel="stylesheet" />
    <link href="../static/css/bootstrap.min.css" th:href="@{/css/bootstrap.min.css}" rel="stylesheet" />
    <link href="../static/css/style.css" th:href="@{/css/style.css}" rel="stylesheet" />
    <link href="../static/css/jquery.dropdown.css" th:href="@{/css/jquery.dropdown.css}" rel="stylesheet" />
</head>

<body>

<div class="wrapper">
	<!-- .header-->
	<header class="header">
        <span><a href="/"><img th:src="@{/images/logo.png}" width="" height="80"/></a></span>
        <span class="shape"><img th:src="@{/images/shape.png}" width="" height="16"/></span>
		<span class="profile"><a href="#profile" class="dropdown">Профиль</a></span>
		<span class="add-deal">
		<form th:action="@{/user/deals/new}" method="get">
			<button class="btn btn-md btn-info btn-block" type="Submit">+ Добавить</button>
		</form></span>
	</header>


	<main class="content">
	<h2>Работы и конкурсы</h2>
	<div class="search">
	<span>Поиск</span>
	</div>

		<table class="table table-bordered">
			<thead>
			<tr>
				<th>Заголовок</th>
				<th>Категория</th>
				<th>Описание</th>
				<th>Заявки</th>
				<th>Цена (грн.)</th>
			</tr>
			</thead>
			<tbody>
			<tr>
				<td>John</td>
				<td>John</td>
				<td>John</td>
				<td>Doe</td>
				<td>john@example.com</td>
			</tr>
			<tr>
				<td>Mary</td>
				<td>Moe</td>
				<td>John</td>
				<td>John</td>
				<td>mary@example.com</td>
			</tr>
			<tr>
				<td>July</td>
				<td>Dooley</td>
				<td>John</td>
				<td>John</td>
				<td>july@example.com</td>
			</tr>
			</tbody>
		</table>
		
	</main><!-- .content -->

</div><!-- .wrapper -->

<footer class="footer">
	<strong>2017</strong>
</footer><!-- .footer -->


<script th:src="@{/js/jquery.min.js}"></script>
<script	src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
<script th:src="@{/js/main.js}"></script>
<script th:src="@{/js/jquery.dropdown.min.js}"></script>

	
</body>
</html>